<a href="https://colab.research.google.com/github/lamchamhuy/your-file-lam/blob/main/00_Creating_Series_and_DataFrames/Pokemon/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Create a data dictionary that looks like the DataFrame below

In [8]:
import pandas as pd
from IPython.core.display import display

data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

df = pd.DataFrame(data)

# Hiển thị bảng với tiêu đề in đậm
styled_df = df.style.set_table_styles([{
    'selector': 'th',
    'props': [('font-weight', 'bold')]
}])
# Làm tiêu đề in đậm + chữ đỏ
# df.style.set_table_styles([
#     {'selector': 'th', 'props': [('font-weight', 'bold'), ('color', 'red')]}
# ])

display(styled_df)  # Dùng display() thay vì print()

### Step 3. Assign it to a variable called pokemon

In [11]:
pokemon = pd.DataFrame(data)
print(pokemon)

    evolution  hp        name pokedex   type
0     lvysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [12]:
import pandas as pd
from IPython.core.display import display

data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

df = pd.DataFrame(data)

df = df[["name", "type", "hp", "evolution", "pokedex"]]

styled_df = df.style.set_table_styles([
    {'selector': 'th', 'props': [('font-weight', 'bold')]}
])

display(styled_df)

### Step 5. Add another column called place, and insert what you have in mind.

In [14]:
import pandas as pd
from IPython.core.display import display

# Dữ liệu ban đầu
data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

# Tạo DataFrame
df = pd.DataFrame(data)

# Sắp xếp lại thứ tự cột
df = df[["name", "type", "hp", "evolution", "pokedex"]]

# Thêm cột mới "place" với dữ liệu tưởng tượng
df["place"] = ["phenikaa", "bách khoa", "giao thông vân tải", "Kanto"]

# Làm tiêu đề in đậm
styled_df = df.style.set_table_styles([
    {'selector': 'th', 'props': [('font-weight', 'bold')]}
])

# Hiển thị DataFrame
display(styled_df)

### Step 6. Present the type of each column

In [15]:
import pandas as pd
from IPython.core.display import display

# Dữ liệu ban đầu
data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

# Tạo DataFrame
df = pd.DataFrame(data)

# Sắp xếp lại thứ tự cột
df = df[["name", "type", "hp", "evolution", "pokedex"]]

# Thêm cột mới "place" với dữ liệu tưởng tượng
df["place"] = ["phenikaa", "bách khoa", "giao thông vân tải", "Kanto"]

# Làm tiêu đề in đậm
styled_df = df.style.set_table_styles([{'selector': 'th', 'props': [('font-weight', 'bold')]}])

# Hiển thị DataFrame
display(styled_df)

# Hiển thị kiểu dữ liệu của từng cột
print("\nKiểu dữ liệu của mỗi cột:")
print(df.dtypes)

Kiểu dữ liệu của mỗi cột:
name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [16]:
# Làm thế nào để lọc các dòng dữ liệu trong DataFrame
# thỏa mãn một điều kiện cụ thể,
#  ví dụ: chỉ lấy các Pokémon có chỉ số HP lớn hơn 40?

import pandas as pd
from IPython.core.display import display

# Dữ liệu ban đầu
data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

# Tạo DataFrame
df = pd.DataFrame(data)

# Lọc các dòng có HP lớn hơn 40
filtered_df = df[df['hp'] > 40]

# Hiển thị kết quả
display(filtered_df)

   evolution  hp       name pokedex   type
0    Ivysaur  45  Bulbasaur     yes  grass
2  Wartortle  44   Squirtle     yes  water
3    Metapod  45   Caterpie      no    bug